.botoes {
  position: absolute;
  left: 225px;
  top: 40px; }
  .botoes--botao {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: lightgrey;
    margin-bottom: 10px; }
    .botoes--botao:hover {
      background-color: lightblue;
      cursor: pointer; }
  .botoes__coluna2 {
    left: 270px; }
  .botoes__apenasDesktop {
    display: none; }
    @media (min-width: 800px) {
      .botoes__apenasDesktop {
        display: initial; } }
