@import 'https://fonts.googleapis.com/css?family=Roboto:300';
* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  color: #000; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .header__navbar {
    list-style-type: none;
    display: none; }
    .header__navbar li {
      display: inline-block;
      margin: 0 12px; }
    @media (min-width: 800px) {
      .header__navbar {
        display: initial; } }
  .header__linkMenu {
    min-width: 99px !important;
    text-align: center; }
    .header__linkMenu a {
      color: #f00; }
  .header__navbar, .header__title, .header__subtitle {
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 2vh 4vw 0vh; }
  .header__title {
    letter-spacing: 5px; }
  .header__subtitle {
    letter-spacing: 8px; }
  .header--fixo {
    position: fixed;
    background-color: #ffffff;
    z-index: 1; }
  .header__botaoMenu {
    margin-top: 20px;
    width: 100%;
    position: relative; }
    .header__botaoMenu__wrap {
      width: 20px;
      margin: auto;
      cursor: pointer; }
    .header__botaoMenu__links {
      position: absolute;
      color: #ff0000;
      top: 0px; }
      .header__botaoMenu__links--home {
        left: 60px; }
      .header__botaoMenu__links--contato {
        right: 60px; }
    .header__botaoMenu__botaoBarra {
      width: 20px;
      height: 3px;
      background-color: #000;
      margin: 3px auto;
      display: block; }
    @media (min-width: 800px) {
      .header__botaoMenu {
        display: none; } }
