.infovideos {
  width: 340px;
  height: 100px;
  overflow: hidden;
  position: relative; }
  .infovideos__wrapperInfovideos {
    position: relative;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    top: 0px; }
  .infovideos--legenda {
    padding-bottom: 162px;
    text-align: left; }
    .infovideos--legenda__longas {
      padding-bottom: 125px; }
