.janela {
  width: 250px;
  height: 167px;
  background-color: lightgrey;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.6);
  margin: 30px 20px 0px; }
  @media (min-width: 800px) {
    .janela {
      margin: 0px; } }
  .janela__linkMenuHome {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #000;
    float: left;
    font-weight: bold; }
  .janela__invisivel {
    visibility: hidden; }
  .janela__imgBlurAcima {
    background-image: url("imagens/vertical-carousel1.jpg"); }
  .janela__imgBlur {
    background-image: url("imagens/vertical-carousel2.jpg"); }
  .janela__imgBlurAbaixo {
    background-image: url("imagens/vertical-carousel3.jpg"); }
  .janela__imgComerciais {
    background-image: url("imagens/comvert.jpg"); }
  .janela__imgClipes {
    background-image: url("imagens/clivert.jpg"); }
  .janela__imgInternacionais {
    background-image: url("imagens/intvert.jpg"); }
  .janela__imgLongas {
    background-image: url("imagens/lonvert.jpg"); }
  .janela__videos {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    background-color: transparent; }
  .janela__bgPos-217 {
    background-position: 0px -217px; }
  .janela__bgPos-434 {
    background-position: 0px -434px; }
  .janela__infovideos {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    background-color: transparent; }
  .janela__botoes {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    background-color: transparent; }
  .janela__apenasDesktop {
    display: none; }
    @media (min-width: 800px) {
      .janela__apenasDesktop {
        display: initial; } }
  .janela__contato {
    background-color: lightgrey;
    opacity: 0.3;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .janela__contatoInfo {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: right;
    color: #fff; }
    .janela__contatoInfo a {
      text-decoration: none !important;
      color: #fff; }
  .janela__menor {
    width: 103px; }
  .janela__maior {
    width: 397px; }
  .janela__cenarios:nth-child(1) {
    background-image: url("imagens/gr1.jpg"); }
  .janela__cenarios:nth-child(2) {
    background-image: url("imagens/gr2.jpg"); }
  .janela__cenarios:nth-child(3) {
    background-image: url("imagens/gr3.jpg");
    position: relative; }
  .janela__cenarios:nth-child(4) {
    background-image: url("imagens/gr4.jpg"); }
  .janela__cenarios:nth-child(5) {
    background-image: url("imagens/gr5.jpg"); }
  .janela__cenarios:nth-child(6) {
    background-image: url("imagens/gr6.jpg"); }
  .janela__cenarios:nth-child(7) {
    background-image: url("imagens/gr7.jpg"); }
  .janela__cenarios:nth-child(8) {
    background-image: url("imagens/gr8.jpg"); }
  .janela__cenarios:nth-child(9) {
    background-image: url("imagens/gr9.jpg"); }
  .janela__televisao:nth-child(2) {
    background-image: url("imagens/tel01.jpg"); }
  .janela__televisao:nth-child(4) {
    background-image: url("imagens/tel04.jpg"); }
  .janela__televisao:nth-child(5) {
    background-image: url("imagens/tel05.jpg"); }
  .janela__televisao:nth-child(6) {
    background-image: url("imagens/tel06.jpg"); }
  .janela__televisao:nth-child(8) {
    background-image: url("imagens/tel07.jpg"); }
