.modal {
  position: fixed;
  background-color: #ffffff;
  top: 158px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  z-index: 1; }
  .modal--visivel {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1); }
