.videos--item {
  text-align: center;
  margin-bottom: 35px; }
  .videos--item iframe {
    width: 250px;
    height: 172.5px;
    background-color: #000; }

@media (min-width: 800px) {
  .videos {
    position: absolute;
    overflow: hidden;
    width: 550px;
    height: 390px;
    top: 20px; }
    .videos__wrapperVideos {
      position: relative;
      -webkit-transition: all 1s linear;
      transition: all 1s linear;
      top: 0px; }
    .videos--item {
      text-align: center;
      margin-top: 35px; }
      .videos--item p {
        visibility: hidden; }
      .videos--item iframe {
        width: 460px;
        height: 317.4px;
        background-color: #000; } }
