@charset "UTF-8";
/*
Theme Name: Template Beto Grimaldi
Theme URI: https://wordpress.org/themes/beto/
Author: Pier Bottero
Author URI: https://epbweb.com.br/
Description: Template criado com base no site já existente em html e css. 
*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}

* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .header__navbar {
    list-style-type: none;
    display: none; }
    .header__navbar li {
      display: inline-block;
      margin: 0 12px; }
    @media (min-width: 800px) {
      .header__navbar {
        display: initial; } }
  .header__linkMenu {
    min-width: 99px !important;
    text-align: center; }
    .header__linkMenu a {
      color: #f00; }
  .header__navbar, .header__title, .header__subtitle {
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 2vh 4vw 0vh; }
  .header__title {
    letter-spacing: 5px; }
  .header__subtitle {
    letter-spacing: 8px; }

.row {
  width: 100%;
  text-align: center; }
  .row__bgContato {
    background-image: url(imagens/bgcontato.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto; }

.janela {
  width: 250px;
  height: 167px;
  background-color: lightgrey;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.6);
  margin: 30px 20px 0px; }
  @media (min-width: 800px) {
    .janela {
      margin: 0px; } }
  .janela__linkMenuHome {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #000;
    float: left;
    font-weight: bold; }
  .janela__invisivel {
    visibility: hidden; }
  .janela__imgBlurAcima {
    background-image: url("imagens/vertical-carousel1.jpg"); }
  .janela__imgBlur {
    background-image: url("imagens/vertical-carousel2.jpg"); }
  .janela__imgBlurAbaixo {
    background-image: url("imagens/vertical-carousel3.jpg"); }
  .janela__imgComerciais {
    background-image: url("imagens/comvert.jpg"); }
  .janela__imgClipes {
    background-image: url("imagens/clivert.jpg"); }
  .janela__imgInternacionais {
    background-image: url("imagens/intvert.jpg"); }
  .janela__imgLongas {
    background-image: url("imagens/lonvert.jpg"); }
  .janela__videos {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    background-color: transparent; }
  .janela__bgPos-217 {
    background-position: 0px -217px; }
  .janela__bgPos-434 {
    background-position: 0px -434px; }
  .janela__infovideos {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    background-color: transparent; }
  .janela__botoes {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    background-color: transparent; }
  .janela__apenasDesktop {
    display: none; }
    @media (min-width: 800px) {
      .janela__apenasDesktop {
        display: initial; } }
  .janela__contato {
    background-color: lightgrey;
    opacity: 0.3;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .janela__contatoInfo {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: right;
    color: #fff; }
    .janela__contatoInfo a {
      text-decoration: none !important;
      color: #fff; }
  .janela__menor {
    width: 103px; }
  .janela__maior {
    width: 397px; }
  .janela__cenarios:nth-child(1) {
    background-image: url("imagens/gr1.jpg"); }
  .janela__cenarios:nth-child(2) {
    background-image: url("imagens/gr2.jpg"); }
  .janela__cenarios:nth-child(3) {
    background-image: url("imagens/gr3.jpg");
    position: relative; }
  .janela__cenarios:nth-child(4) {
    background-image: url("imagens/gr4.jpg"); }
  .janela__cenarios:nth-child(5) {
    background-image: url("imagens/gr5.jpg"); }
  .janela__cenarios:nth-child(6) {
    background-image: url("imagens/gr6.jpg"); }
  .janela__cenarios:nth-child(7) {
    background-image: url("imagens/gr7.jpg"); }
  .janela__cenarios:nth-child(8) {
    background-image: url("imagens/gr8.jpg"); }
  .janela__cenarios:nth-child(9) {
    background-image: url("imagens/gr9.jpg"); }
  .janela__televisao:nth-child(2) {
    background-image: url("imagens/tel01.jpg"); }
  .janela__televisao:nth-child(4) {
    background-image: url("imagens/tel04.jpg"); }
  .janela__televisao:nth-child(5) {
    background-image: url("imagens/tel05.jpg"); }
  .janela__televisao:nth-child(6) {
    background-image: url("imagens/tel06.jpg"); }
  .janela__televisao:nth-child(8) {
    background-image: url("imagens/tel07.jpg"); }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 850px;
  height: 601px;
  margin: auto; }
  @media (min-width: 800px) {
    .wrap {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (min-width: 800px) {
    .wrap__apenasMobile {
      display: none; } }

.videos--item {
  text-align: center;
  margin-bottom: 35px; }
  .videos--item iframe {
    width: 250px;
    height: 172.5px;
    background-color: #000; }

@media (min-width: 800px) {
  .videos {
    position: absolute;
    overflow: hidden;
    width: 550px;
    height: 390px;
    top: 20px; }
    .videos__wrapperVideos {
      position: relative;
      -webkit-transition: all 1s linear;
      transition: all 1s linear;
      top: 0px; }
    .videos--item {
      text-align: center;
      margin-top: 35px; }
      .videos--item p {
        visibility: hidden; }
      .videos--item iframe {
        width: 460px;
        height: 317.4px;
        background-color: #000; } }

.infovideos {
  width: 340px;
  height: 100px;
  overflow: hidden;
  position: relative; }
  .infovideos__wrapperInfovideos {
    position: relative;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    top: 0px; }
  .infovideos--legenda {
    padding-bottom: 162px;
    text-align: left; }
    .infovideos--legenda__longas {
      padding-bottom: 125px; }

.botoes {
  position: absolute;
  left: 225px;
  top: 40px; }
  .botoes--botao {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: lightgrey;
    margin-bottom: 10px; }
    .botoes--botao:hover {
      background-color: lightblue;
      cursor: pointer; }
  .botoes__coluna2 {
    left: 270px; }
  .botoes__apenasDesktop {
    display: none; }
    @media (min-width: 800px) {
      .botoes__apenasDesktop {
        display: initial; } }

