﻿
<!--------------------MAIN INICIO-------------------------------->
<div class="container">
<div id="principal">
    <div class="rec" id="recen1"></div>
    <div class="rec" id="recen2"></div>
    <div class="rec" id="recen3">
        <div id="circulos">
            <div class="circ" id="btn1"></div>
            <div class="circ" id="btn2"></div>
            <div class="circ" id="btn3"></div>
        </div>
    </div>
    <div class="rec" id="recen4"></div>
    <div class="rec" id="recen5"></div>
    <div class="rec" id="recen6"></div>
    <div class="rec" id="recen7"></div>
    <div class="rec" id="recen8"></div>
    <div class="rec" id="recen9"></div>
</div>
</div>


<!--------------------MAIN FIM-------------------------------->

<!--getFooter-->

</body>

<script type="text/javascript">
    $(document).ready(function(){
		var botao = "#btn1";
		var position = "0px 20px";
		
        $(botao).css("background-color", "lightblue");
		
        $(botao).click(function(){
            $(".rec").css("background-position",position);
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn2").click(function(){
            $(".rec").css("background-position","0px -217px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn3").click(function(){
            $(".rec").css("background-position","0px -434px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
    });
</script>

