<!--------------------MAIN INICIO-------------------------------->



<div class="row">
  <div class="wrap">
    <div class="janela janela__cenarios"></div> 
    <div class="janela janela__cenarios"></div>
    <div class="janela janela__cenarios  janela__botoes">
        <div class="botoes botoes__apenasDesktop">
            <div class="botoes--botao botoes--cenario"></div>
            <div class="botoes--botao botoes--cenario"></div>
            <div class="botoes--botao botoes--cenario"></div>
        </div>
    </div>
    <div class="janela janela__cenarios"></div> 
    <div class="janela janela__cenarios"></div>
    <div class="janela janela__cenarios"></div>
    <div class="janela janela__cenarios"></div> 
    <div class="janela janela__cenarios"></div>
    <div class="janela janela__cenarios"></div>    
  </div>


  <div class="wrap wrap__apenasMobile">
    <div class="janela janela__bgPos-217 janela__cenarios"></div> 
    <div class="janela janela__bgPos-217 janela__cenarios"></div>
    <div class="janela janela__bgPos-217 janela__cenarios"></div>
    <div class="janela janela__bgPos-217 janela__cenarios"></div> 
    <div class="janela janela__bgPos-217 janela__cenarios"></div>
    <div class="janela janela__bgPos-217 janela__cenarios"></div>
    <div class="janela janela__bgPos-217 janela__cenarios"></div> 
    <div class="janela janela__bgPos-217 janela__cenarios"></div>
    <div class="janela janela__bgPos-217 janela__cenarios"></div>    
  </div>


  <div class="wrap wrap__apenasMobile">
    <div class="janela janela__bgPos-434 janela__cenarios"></div> 
    <div class="janela janela__bgPos-434 janela__cenarios"></div>
    <div class="janela janela__bgPos-434 janela__cenarios"></div>
    <div class="janela janela__bgPos-434 janela__cenarios"></div> 
    <div class="janela janela__bgPos-434 janela__cenarios"></div>
    <div class="janela janela__bgPos-434 janela__cenarios"></div>
    <div class="janela janela__bgPos-434 janela__cenarios"></div> 
    <div class="janela janela__bgPos-434 janela__cenarios"></div>
    <div class="janela janela__bgPos-434 janela__cenarios"></div>    
  </div>
</div>


<!--------------------MAIN FIM-------------------------------->


</body>


<script src="/js/cenarios.js"></script>











