﻿<!--------------------MAIN INICIO-------------------------------->

<div class="container">
<div id="principal">
    <div class="rec" id="re1"></div>
    <div class="rec" id="re2">
        <div id="videos">
            <div id="caixa">
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/kPrWzsrpHis?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>PATO FU - Eu</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/jJhnige5jDQ?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>LENINE - Paciência</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/mq3td6etR5A?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>LENINE - Dois olhos negros</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/d_jQcYmUbE8?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>LENINE - O homem dos olhos de Raio X</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/zZbsQpfFsB0?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>PATO FU - Antes que seja tarde</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/ljbYJoU3guY?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>SANDY, JUNIOR - Imortal</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rec" id="recli3">   
        <div id="circulos">
            <div class="circ" id="btn1"></div>
            <div class="circ" id="btn2"></div>
            <div class="circ" id="btn3"></div>
            <div class="circ" id="btn4"></div>
            <div class="circ" id="btn5"></div>
            <div class="circ" id="btn6"></div>
        </div>      
    </div>
    <div class="rec" id="recli4"></div>
    <div class="rec" id="recli5"></div>
    <div class="rec" id="recli6"></div>
    <div class="rec" id="recli7">
        <div id="texto">
            <div id="caixa2">
                <div class="legenda">
                    <p>PATO FU</p>
                    <p>Eu</p>
                </div>
                <div class="legenda">
                    <p>LENINE</p>
                    <p>Paciência</p>
                </div>
                <div class="legenda">
                    <p>LENINE</p>
                    <p>Dois olhos negros</p>
                </div>
                    <div class="legenda">
                    <p>LENINE</p>
                    <p>O homem dos olhos de Raio X</p>
                </div>
                <div class="legenda">
                    <p>PATO FU</p>
                    <p>Antes que seja tarde</p>
                </div>
                <div class="legenda">
                    <p>SANDY, JUNIOR</p>
                    <p>Imortal</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rec" id="recli8"></div>
    <div class="rec" id="recli9"></div>
</div>
</div>


<!--------------------MAIN FIM-------------------------------->
<script src="/js/clipes.js"></script>

<!--getFooter-->
</body>

