
<div class="container">
<div id="principal">
    <div class="rec" id="recom1"></div>
    <div class="rec" id="recom2">
        <div id="videos">
            <div id="caixa">
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/hgXFMUpxy7w?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>CAFÉ PELÉ  -  LUX FILMES</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/P_c9CXZZ8zs?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>GM -   SENTIMENTAL FILMES</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/WjPw76MLieA?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>OI - CIA DE CINE</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/bRqsgdqywGI?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>OUTBACK - LUX FILMES</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/G9IFIlO39I4?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>ITAÚ - O2 FILMES</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/iVt9Fjm0o4I?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>UNILEVER - BOSSA NOVA FILMES</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/SOaFxawwso8?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>GAROTO - CRASH OF RHINOS</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/HLgG7hkYR5U?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>MOLICO - BOSSA NOVA FILMS</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/FI1GwsCU6Cg?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>SKOL LOVE STORY - SENTIMENTAL FILMES</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://player.vimeo.com/video/194513673" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p>CAIXA | MEGA DA VIDARA - PILOTO</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/TyQgg6MZj8U?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>CAIXA | MEGA DA VIDARA AEROPORTO - PILOTO</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/72xeMgc7-tg?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>CLARO | ESFERAS - PILOTO</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/gTUqfA8yKHc?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>WALMART | BLACK FRIDAY - PILOTO</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://player.vimeo.com/video/219908360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p>SPORTV | NOSSO FUTEBOL - ESPECIALISTAS 60”</p>

                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://player.vimeo.com/video/225137500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p>SPORTV | TIPOS DE TORCEDOR</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/Zv8XtE7Kzzg?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>SANTANDER | DIA DAS MÃES - PILOTO</p>
                </div>
                <div class="vds">
                <iframe width="460" height="318" src="https://www.youtube.com/embed/ZO7koJLGhNs?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>SPORTV | MOCKUMENTARY - PILOTO</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rec" id="recom3">   
        <div id="circulos">
            <div class="circ" id="btn1"></div>
            <div class="circ" id="btn2"></div>
            <div class="circ" id="btn3"></div>
            <div class="circ" id="btn4"></div>
            <div class="circ" id="btn5"></div>
            <div class="circ" id="btn6"></div>
            <div class="circ" id="btn7"></div>
            <div class="circ" id="btn8"></div>
        </div>      
        <div id="circulos2">
            <div class="circ" id="btn9"></div>
            <div class="circ" id="btn10"></div>
            <div class="circ" id="btn11"></div>
            <div class="circ" id="btn12"></div>
            <div class="circ" id="btn13"></div>
            <div class="circ" id="btn14"></div>
            <div class="circ" id="btn15"></div>
            <div class="circ" id="btn16"></div>
            <div class="circ" id="btn17"></div>
        </div>      
    </div>
    <div class="rec" id="recom4"></div>
    <div class="rec" id="recom5"></div>
    <div class="rec" id="recom6"></div>
    <div class="rec" id="recom7">
        <div id="texto">
            <div id="caixa2">
                <div class="legenda">
                    <p>CAFÉ PELÉ</p>
                    <p>LUX FILMES</p>
                </div>
                <div class="legenda">
                    <p>GM</p>
                    <p>SENTIMENTAL FILMES</p>
                </div>
                <div class="legenda">
                    <p>OI</p>
                    <p>CIA DE CINE</p>
                </div>
                    <div class="legenda">
                    <p>OUTBACK</p>
                    <p>LUX FILMES</p>
                </div>
                <div class="legenda">
                    <p>ITAÚ</p>
                    <p>O2 FILMES</p>
                </div>
                <div class="legenda">
                    <p>UNILEVER</p>
                    <p>BOSSA NOVA FILMES</p>
                </div>
                <div class="legenda">
                    <p>GAROTO</p>
                    <p>CRASH OF RHINOS</p>
                </div>
                <div class="legenda">
                    <p>MOLICO</p>
                    <p>BOSSA NOVA FILMS</p>
                </div>
                <div class="legenda">
                    <p>SKOL LOVE STORY</p>
                    <p>SENTIMENTAL FILMES</p>
                </div>
                <div class="legenda">
                    <p>CAIXA | MEGA DA VIRADA</p>
                    <p>PILOTO</p>
                </div>
                <div class="legenda">
                    <p>CAIXA | AEROPORTO</p>
                    <p>PILOTO</p>
                </div>
                <div class="legenda">
                    <p>CLARO | ESFERAS</p>
                    <p>PILOTO</p>
                </div>
                <div class="legenda">
                    <p>WALLMART | BLACK FRIDAY</p>
                    <p>PILOTO</p>
                </div>
                <div class="legenda">
                    <p>SPORTV | TIPOS DE TORCEDOR</p>
                    <p>PILOTO</p>
                </div>
                <div class="legenda">
                    <p>NOSSO FUTEBOL - ESPECIALISTAS 60”</p>
                    <p>PILOTO</p>
                </div>
                <div class="legenda">
                    <p>SANTANDER | DIA DAS MÃES</p>
                    <p>PILOTO</p>
                </div>
                <div class="legenda">
                    <p>SPORTV | MOCKUMENTARY</p>
                    <p>PILOTO</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rec" id="recom8"></div>
    <div class="rec" id="recom9"></div>
</div>
</div>


<!--------------------MAIN FIM-------------------------------->


<!--getFooter-->
</body>

<script type="text/javascript">
    $(document).ready(function(){
        $("#btn1").click(function(){
            $(".rec").css("background-position","0px 0px");         
            $("#caixa").css("top","2px");               
            $("#caixa2").css("top","0px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn2").click(function(){
            $(".rec").css("background-position","0px -186px");          
            $("#caixa").css("top","-376px");
            $("#caixa2").css("top","-200px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn3").click(function(){
            $(".rec").css("background-position","0px -372px");      
            $("#caixa").css("top","-749px");
            $("#caixa2").css("top","-400px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn4").click(function(){
            $(".rec").css("background-position","0px -558px");  
            $("#caixa").css("top","-1126px");
            $("#caixa2").css("top","-600px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn5").click(function(){
            $(".rec").css("background-position","0px -744px");  
            $("#caixa").css("top","-1502px");
            $("#caixa2").css("top","-800px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn6").click(function(){
            $(".rec").css("background-position","0px -930px");  
            $("#caixa").css("top","-1879px");
            $("#caixa2").css("top","-1000px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn7").click(function(){
            $(".rec").css("background-position","0px -1116px"); 
            $("#caixa").css("top","-2253px");
            $("#caixa2").css("top","-1200px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn8").click(function(){
            $(".rec").css("background-position","0px -1302px"); 
            $("#caixa").css("top","-2630px");
            $("#caixa2").css("top","-1400px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn9").click(function(){
            $(".rec").css("background-position","0px -1488px"); 
            $("#caixa").css("top","-3005px");
            $("#caixa2").css("top","-1600px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn10").click(function(){
            $(".rec").css("background-position","0px -1674px"); 
            $("#caixa").css("top","-3382px");
            $("#caixa2").css("top","-1800px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn11").click(function(){
            $(".rec").css("background-position","0px -1860px"); 
            $("#caixa").css("top","-3757px");
            $("#caixa2").css("top","-2000px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn12").click(function(){
            $(".rec").css("background-position","0px -2046px"); 
            $("#caixa").css("top","-4134px");
            $("#caixa2").css("top","-2200px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn13").click(function(){
            $(".rec").css("background-position","0px -2232px"); 
            $("#caixa").css("top","-4510px");
            $("#caixa2").css("top","-2400px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn14").click(function(){
            $(".rec").css("background-position","0px -2418px"); 
            $("#caixa").css("top","-4886px");
            $("#caixa2").css("top","-2600px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn15").click(function(){
            $(".rec").css("background-position","0px -2604px"); 
            $("#caixa").css("top","-5262px");
            $("#caixa2").css("top","-2800px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn16").click(function(){
            $(".rec").css("background-position","0px -2790px"); 
            $("#caixa").css("top","-5638px");
            $("#caixa2").css("top","-3000px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn17").click(function(){
            $(".rec").css("background-position","0px -2976px"); 
            $("#caixa").css("top","-6014px");
            $("#caixa2").css("top","-3200px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });


    });
</script>