<!--------------------MAIN INICIO-------------------------------->

<div class="row row__bgContato">
  <div class="wrap">
    <div class="janela janela__apenasDesktop janela__contato"></div>
    <div class="janela janela__apenasDesktop janela__contato"></div>
    <div class="janela janela__apenasDesktop janela__contato"></div>
    <div class="janela janela__apenasDesktop janela__contato"></div> 
    <div class="janela janela__contatoInfo">
        <p>direção de arte para cinema, publicidade e televisão</p>
        <p>arquitetura</p>
        <p>cenografia</p>
        <br>
        <a href="mailto:betogrimaldi1@gmail.com?Subject="><p>betogrimaldi1@gmail.com</p></a>
        <p>tel 55 11 981995849</p>
        <p>são paulo - sp - brasil</p>
    </div>
    <div class="janela janela__apenasDesktop janela__contato"></div>
    <div class="janela janela__apenasDesktop janela__contato"></div> 
    <div class="janela janela__apenasDesktop janela__contato"></div>
    <div class="janela janela__apenasDesktop janela__contato"></div>    
  </div>
</div>


<!--------------------MAIN FIM-------------------------------->


</body>