<!--------------------MAIN INICIO-------------------------------->
<div class="container">
<div id="principal">
	<div class="rec recctt glass" id="rectt1"></div>
	<div class="rec recctt" id="rectt2"></div>
	<div class="rec recctt" id="rectt3"></div>
	<div class="rec recctt" id="rectt4"></div>
	<div class="rec recctt" id="rectt5">
		<p>direção de arte para cinema, publicidade e televisão</p>
		<p>arquitetura</p>
		<p>cenografia</p>
		<br>
		<a href="mailto:betogrimaldi1@gmail.com?Subject=" style="color:#000;text-decoration:none"><p>betogrimaldi1@gmail.com</p></a>
		<p>tel 55 11 981995849</p>
		<p>são paulo - sp - brasil</p>
	</div>
	<div class="rec recctt" id="rectt6"></div>
	<div class="rec recctt" id="rectt7"></div>
	<div class="rec recctt" id="rectt8"></div>
	<div class="rec recctt" id="rectt9"></div>
</div>
</div>


<!--------------------MAIN FIM-------------------------------->


<!--getFooter-->
</body>