<!--------------------MAIN INICIO-------------------------------->

<div class="row">
  <div class="wrap">
    <div class="janela janela__imgBlurAcima  janela__janelaconteudoMenuDestino"></div>
    <div class="janela janela__apenasDesktop"></div>
    <div class="janela janela__apenasDesktop"></div>
    <div class="janela janela__imgBlur"></div> 
    <div class="janela janela__menu janela__apenasDesktop   janela__janelaconteudoMenuOrigem">
        <a href="comerciais.html" class="janela__linkMenuHome">comerciais</a>
        <a href="longas.html" class="janela__linkMenuHome">longas</a>
        <a href="internacionais.html" class="janela__linkMenuHome">internacionais</a>
        <a href="clipes.html" class="janela__linkMenuHome">clipes</a>
        <a href="televisao.html" class="janela__linkMenuHome">televisão</a>
        <a href="cenarios.html" class="janela__linkMenuHome">cenários</a>
    </div>
    <div class="janela janela__apenasDesktop"></div>
    <div class="janela janela__imgBlurAbaixo"></div> 
    <div class="janela janela__apenasDesktop"></div>
    <div class="janela janela__apenasDesktop"></div>    
  </div>
</div>


<!--------------------MAIN FIM-------------------------------->


</body>

<script type="text/javascript">
var linkMenuHome = document.getElementsByClassName('janela__linkMenuHome'),
janelaMenuDestino = document.getElementsByClassName('janela__janelaconteudoMenuDestino')[0],
janelaMenuOrigem = document.getElementsByClassName('janela__janelaconteudoMenuOrigem')[0],
larguraBody = document.getElementsByTagName('body')[0].offsetWidth,
larguraWrap = document.getElementsByClassName("wrap")[0].offsetWidth;


if(larguraBody<=larguraWrap){
    janelaMenuDestino.innerHTML = janelaMenuOrigem.innerHTML;
}



 $(document).ready(function(){
    for (x in linkMenuHome){
    if(linkMenuHome.hasOwnProperty(x)){
        let indice = x;
        $(linkMenuHome[indice]).hover(function(){
            $(".janela").css("background-position","0px -"+(indice*220-43)+"px");
            $(".janela__linkMenuHome").css("background-color","#ffffff");
            $(".janela__linkMenuHome").css("color","#000000");
            $(this).css("background-color","#696969");
            $(this).css("color","#ffffff");
        });
    }
}
});
</script>    