<!--------------------MAIN INICIO-------------------------------->
<div class="container">
<div id="principal"><!--
    <input type="radio" name="bt" class="botao" id="bt1" ckecked>
    <label id="label-id" for="bt1"></label>
    <input type="radio" name="bt" class="botao" id="bt2">
    <label id="label-id" for="bt2"></label>
    <input type="radio" name="bt" class="botao" id="bt3">
    <label id="label-id" for="bt3"></label>
    -->
    <div class="recindex rec glass" id="reindex1"></div>
    <div class="recindex rec" id="reindex2"></div>
    <div class="recindex rec" id="reindex3"></div>
    <div class="recindex rec" id="reindex4"></div>
    <div class="recindex rec" id="reindex5">
        <a href="comerciais.html" class="linkMenuHome">comerciais</a>
        <a href="longas.html" class="linkMenuHome">longas</a>
        <a href="internacionais.html" class="linkMenuHome">internacionais</a>
        <a href="clipes.html" class="linkMenuHome">clipes</a>
        <a href="televisao.html" class="linkMenuHome">televisão</a>
        <a href="cenarios.html" class="linkMenuHome">cenários</a>
    </div>
    <div class="recindex rec" id="reindex6"></div>
    <div class="recindex rec" id="reindex7"></div>
    <div class="recindex rec" id="reindex8"></div>
    <div class="recindex rec" id="reindex9"></div>
</div>
</div>


<!--------------------MAIN FIM-------------------------------->


</body>

<script type="text/javascript">
var linkMenuHome = document.getElementsByClassName('linkMenuHome');

 $(document).ready(function(){
    for (x in linkMenuHome){
    if(linkMenuHome.hasOwnProperty(x)){
        let indice = x;
        $(linkMenuHome[indice]).hover(function(){
            console.log(linkMenuHome[indice]);
            $(".rec").css("background-position","0px -"+indice*220+"px");
            $(".linkMenuHome").css("background-color","#ffffff");
            $(".linkMenuHome").css("color","#000000");
            $(this).css("background-color","#696969");
            $(this).css("color","#ffffff");
        });
    }
}
});
</script>    