<?php /* Template Name: internacionais */ ?><?php get_header(); ?>
<!--------------------MAIN INICIO-------------------------------->
<div class="container">
<div id="principal">
	<div class="rec" id="reint1"></div>
	<div class="rec" id="reint2">
		<div id="videos">
			<div id="caixa">
				<div class="videos--item">
					<iframe src="https://www.youtube.com/embed/OCeHMPM9-Ps?showinfo=0" frameborder="0" allowfullscreen></iframe>
					<p>COCA-COLA LIGHT  -  O2 FILMES</p>
				</div>
				<div class="videos--item">
					<iframe src="https://www.youtube.com/embed/X5IydSRMp9U?showinfo=0" frameborder="0" allowfullscreen></iframe>
					<p>3 FM -   VETOR LOBO</p>
				</div>
				<div class="videos--item">
					<iframe src="https://www.youtube.com/embed/MRrQomc0f5M?showinfo=0" frameborder="0" allowfullscreen></iframe>
					<p>VODAFONE HE - PARADISO FILMES</p>
				</div>
				<div class="videos--item">
					<iframe src="https://www.youtube.com/embed/kVPG_Ftl9LU?showinfo=0" frameborder="0" allowfullscreen></iframe>
					<p>VODAFONE SOCCER - PARADISO FILMES</p>
				</div>
			</div>
		</div>
	</div>
	<div class="rec" id="reint3">	
		<div id="circulos">
			<div class="circ" id="btn1"></div>
			<div class="circ" id="btn2"></div>
			<div class="circ" id="btn3"></div>
			<div class="circ" id="btn4"></div>
		</div>		
	</div>
	<div class="rec" id="reint4"></div>
	<div class="rec" id="reint5"></div>
	<div class="rec" id="reint6"></div>
	<div class="rec" id="reint7">
		<div id="texto">
			<div id="caixa2">
				<div class="infovideos--legenda">
					<p>COCA-COLA LIGHT</p>
					<p>O2 FILMES</p>
				</div>
				<div class="infovideos--legenda">
					<p>3 FM</p>
					<p>VETOR LOBO</p>
				</div>
				<div class="infovideos--legenda">
					<p>VODAFONE HE</p>
					<p>PARADISO FILMES</p>
				</div>
				<div class="infovideos--legenda">
					<p>VODAFONE SOCCER</p>
					<p>PARADISO FILMES</p>
				</div>
				<div class="infovideos--legenda">
					<p>ITAÚ</p>
					<p>O2 FILMES</p>
				</div>
			</div>
		</div>
	</div>
	<div class="rec" id="reint8"></div>
	<div class="rec" id="reint9"></div>
</div>
</div>


<!--------------------MAIN FIM-------------------------------->

<?php wp_footer(); ?>
</body>

<script type="text/javascript">
	$(document).ready(function(){
		$("#btn1").click(function(){
			$(".rec").css("background-position","0px 0px");			
			$("#caixa").css("top","2px");				
			$("#caixa2").css("top","0px");
			$(".circ").css("background-color", "lightgrey");
			$(this).css("background-color", "lightblue");
		});
		$("#btn2").click(function(){
			$(".rec").css("background-position","0px -186px");			
			$("#caixa").css("top","-376px");
			$("#caixa2").css("top","-200px");
			$(".circ").css("background-color", "lightgrey");
			$(this).css("background-color", "lightblue");
		});
		$("#btn3").click(function(){
			$(".rec").css("background-position","0px -372px");		
			$("#caixa").css("top","-749px");
			$("#caixa2").css("top","-400px");
			$(".circ").css("background-color", "lightgrey");
			$(this).css("background-color", "lightblue");
		});
		$("#btn4").click(function(){
			$(".rec").css("background-position","0px -558px");	
			$("#caixa").css("top","-1126px");
			$("#caixa2").css("top","-600px");
			$(".circ").css("background-color", "lightgrey");
			$(this).css("background-color", "lightblue");
		});
		$("#btn5").click(function(){
			$(".rec").css("background-position","0px -744px");	
			$("#caixa").css("top","-1502px");
			$("#caixa2").css("top","-800px");
			$(".circ").css("background-color", "lightgrey");
			$(this).css("background-color", "lightblue");
		});
		$("#btn6").click(function(){
			$(".rec").css("background-position","0px -930px");	
			$("#caixa").css("top","-1879px");
			$("#caixa2").css("top","-1000px");
			$(".circ").css("background-color", "lightgrey");
			$(this).css("background-color", "lightblue");
		});
		$("#btn7").click(function(){
			$(".rec").css("background-position","0px -1116px");	
			$("#caixa").css("top","-2254px");
			$("#caixa2").css("top","-1200px");
			$(".circ").css("background-color", "lightgrey");
			$(this).css("background-color", "lightblue");
		});
		$("#btn8").click(function(){
			$(".rec").css("background-position","0px -1302px");	
			$("#caixa").css("top","-2630px");
			$("#caixa2").css("top","-1400px");
			$(".circ").css("background-color", "lightgrey");
			$(this).css("background-color", "lightblue");
		});
		$("#btn9").click(function(){
			$(".rec").css("background-position","0px -1488px");	
			$("#caixa").css("top","-3011px");
			$("#caixa2").css("top","-1600px");
			$(".circ").css("background-color", "lightgrey");
			$(this).css("background-color", "lightblue");
		});
	});
</script>
<?php get_footer(); ?>
