<?php /* Template Name: longas */ ?><?php get_header(); ?>
<!--------------------MAIN INICIO-------------------------------->
<div class="container">
<div id="principal">
    <div class="rec" id="relon1"></div>
    <div class="rec" id="relon2">
        <div id="videos">
            <div id="caixa">
            <div class="videos--item">
                <iframe src="https://www.youtube.com/embed/VkK4vS-E-GI?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>BOCA</p>
            </div>
            <div class="videos--item">
                <iframe src="https://www.youtube.com/embed/BtLlREOgysI?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>O OUTRO LADO DO PARAÍSO</p>
            </div>
            </div>
        </div>
    </div>
    <div class="rec" id="relon3">
        <div id="circulos">
            <div class="circ" id="btn1"></div>
            <div class="circ" id="btn2"></div>
        </div>      
    </div>
    <div class="rec" id="relon4"></div>
    <div class="rec" id="relon5"></div>
    <div class="rec" id="relon6"></div>
    <div class="rec" id="relon7">       
        <div id="texto">
            <div id="caixa2">
                <div class="infovideos--legenda">
                    <p>BOCA</p>
                    <p style="font-weight:bold">Ano 2010</p>
                    <p>Premio Melhor direção de Arte no Festival do Audiovisual - Cine PE de 2012</p>               
                </div>
                <div class="infovideos--legenda">
                    <p>O Outro Lado do Paraíso</p>
                    <p style="font-weight:bold">Ano 2014</p>
                    <p>Troféu Câmara Legislativa do Distrito Federal - Júri Oficial por Melhor direção de Arte no 48º Festival de Brasília do
                    Cinema Brasileiro</p>               
                </div>
            </div>
        </div>
    </div>
    <div class="rec" id="relon8"></div>
    <div class="rec" id="relon9"></div>
</div>
</div>

<?php wp_footer(); ?>

<!--------------------MAIN FIM-------------------------------->


</body>

<script type="text/javascript">
    $(document).ready(function(){
        $("#btn1").click(function(){
            $(".rec").css("background-position","0px 0px");         
            $("#caixa").css("top","2px");           
            $("#caixa2").css("top","0px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
        $("#btn2").click(function(){
            $(".rec").css("background-position","0px -186px");          
            $("#caixa").css("top","-376px");
            $("#caixa2").css("top","-257px");
            $(".circ").css("background-color", "lightgrey");
            $(this).css("background-color", "lightblue");
        });
    });
</script>
<?php get_footer(); ?>
