<!--------------------MAIN INICIO-------------------------------->

<div class="row">
  <div class="wrap">
    <div class="janela janela__televisao janela__menor janela__invisivel janela__apenasDesktop"></div> 
    <div class="janela janela__televisao janela__maior"></div>
    <div class="janela janela__televisao janela__menor janela__invisivel janela__apenasDesktop"></div>

    <div class="janela janela__televisao"></div> 
    <div class="janela janela__televisao"></div>
    <div class="janela janela__televisao"></div>

    <div class="janela janela__televisao janela__menor janela__invisivel janela__apenasDesktop"></div> 
    <div class="janela janela__televisao janela__maior"></div>
    <div class="janela janela__televisao janela__menor janela__invisivel janela__apenasDesktop"></div>
  </div>
</div>


<!--------------------MAIN FIM-------------------------------->


</body>