<?php /* Template Name: televisao */ ?><?php get_header(); ?>
<!--------------------MAIN INICIO-------------------------------->
<div class="container">
<div id="principal">
	<div class="rec" id="retel1">
		<div class="rec3" id="te1"></div>
	</div>
	<div class="rec" id="retel2"></div>
	<div class="rec" id="retel3"></div>
	<div class="rec" id="retel4"></div>
	<div class="rec" id="retel5"></div>
	<div class="rec" id="retel6"></div>
	<div class="rec" id="retel7">
		<div class="rec3"  id="te7"></div>
	</div>
	<div class="rec" id="retel8"></div>
	<div class="rec" id="retel9"></div>
</div>
</div>


<!--------------------MAIN FIM-------------------------------->

<?php wp_footer(); ?>
</body>
<?php get_footer(); ?>
