$azul:lightblue;
$cinza:lightgrey;
$telaMedia:("max-width: 850px");
$desktop:("min-width: 800px");
$alturaJanela:167px;
$larguraJanela:250px;
$larguraJanelaMenor:103px;
$larguraJanelaMaior:397px;
$larguraWrap:850px;
$alturaWrap: ($alturaJanela*3)+($larguraWrap - ($larguraJanela*3));
$larguravideo:250px;
$alturavideo: $larguravideo * 0.69;



.botoes{
	position: absolute;
	left: 225px;
	top: 40px;
	&--botao{		
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background-color: $cinza;
		margin-bottom: 10px;
		&:hover{
		background-color: $azul;
		cursor: pointer;			
		};
	}
	&__coluna2{
		left: 270px;		
	}
	&__apenasDesktop{
		display: none;
		@media($desktop){
			display: initial;
		}
	}
}