$azul:lightblue;
$cinza:lightgrey;
$telaMedia:("max-width: 850px");
$desktop:("min-width: 800px");
$alturaJanela:167px;
$larguraJanela:250px;
$larguraJanelaMenor:103px;
$larguraJanelaMaior:397px;
$larguraWrap:850px;
$alturaWrap: ($alturaJanela*3)+($larguraWrap - ($larguraJanela*3));
$larguravideo:250px;
$alturavideo: $larguravideo * 0.69;


@mixin rec($largura, $altura){
	width: $largura;
	height: $altura;
}
	.container{
		position: relative;
		top: 0px;
		width: 100%;
	}

	#head{
		max-width: 960px;
		margin: auto;
	}

	.hediv{
		width: 320px;
		height: 100px;		float: left;
		position: relative;
	}


	.hetxt{
		position: absolute;
		bottom: 0px;
		width: 100%;
		text-align: center;
	}


	.hetxt ul li{
		display: inline-block;
		margin-right: 33px;
	}

	.hetxt ul{
		padding:0px; 
	}

	#hetxt1{
		text-align: left;
	}
	#hetxt2{
		letter-spacing: 5px;
	}

	#hetxt3{
		text-align: right;
		letter-spacing: 8px;
	}


	@media screen and ($telaMedia){
		.hediv{
			height: 50px;
		}

		#hetxt1, #hetxt3{
			text-align: center;
		}

		#reindex1, #reindex2, 
		#reindex3, #reindex4, 
		#reindex6, #reindex7, 
		#reindex8, #reindex9,
		.link-header,
		.home-footer{

			display: none;
		}

		#reindex5{
			background-color: green;
			top: 30px;
			position: relative;
		}


	}



	li a{
		text-decoration: none;
		color:#000;
	}