@import 'https://fonts.googleapis.com/css?family=Roboto:300';
$azul:lightblue;
$cinza:lightgrey;
$telaMedia:("max-width: 850px");
$desktop:("min-width: 800px");
$alturaJanela:167px;
$larguraJanela:250px;
$larguraWrap:850px;
$alturaWrap: ($alturaJanela*3)+($larguraWrap - ($larguraJanela*3));



	*{
		margin:0px;
		padding:0px;
	}

	body{
		font-family: 'Roboto', sans-serif;
	}

	a{
		text-decoration: none;
		color: #000;
	}

.header{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	&__navbar{
		list-style-type: none;
		display: none;
		li{
			display: inline-block;
			margin: 0 12px;
		}

		@media($desktop){
			display:initial;
		}
	}

	&__linkMenu{
		min-width: 99px !important;
		text-align: center;
		a{			
			color: #f00;
		}
	}

	&__navbar,
	&__title,
	&__subtitle{
		align-self: flex-end;
		padding: 2vh 4vw 0vh;
	}

	&__title{
		letter-spacing: 5px;
	}

	&__subtitle{
		letter-spacing: 8px;
	}

	&--fixo{
		position: fixed;
		background-color: #ffffff;
		z-index: 1;
	}

	&__botaoMenu{
		margin-top: 20px;
			width: 100%;
			position: relative;
		&__wrap{
			width: 20px;
			margin: auto;
			cursor: pointer;
		}
		&__links{
			position: absolute;
			color: #ff0000;
			top: 0px;
			&--home{
				left: 60px;
			}
			&--contato{
				right: 60px;
			}

		}
		&__botaoBarra{
			width: 20px;
			height: 3px;
			background-color: #000;
			margin: 3px auto;
			display: block;
		}

		@media($desktop){
			display:none;
		}
	}


}