$azul:lightblue;
$cinza:lightgrey;
$telaMedia:("max-width: 850px");
$desktop:("min-width: 800px");
$alturaJanela:167px;
$larguraJanela:250px;
$larguraJanelaMenor:103px;
$larguraJanelaMaior:397px;
$larguraWrap:850px;
$alturaWrap: ($alturaJanela*3)+($larguraWrap - ($larguraJanela*3));
$larguravideo:250px;
$alturavideo: $larguravideo * 0.69;


.infovideos{
		width: 340px;
		height: 100px;
		overflow: hidden;
		position: relative;

	&__wrapperInfovideos{
		position:relative;
		transition: all 1s linear;
		top: 0px;		
	}

	&--legenda{		
		padding-bottom: 162px;
		text-align: left;
		&__longas{
			padding-bottom: 125px;

		}
	}
}
