$azul:lightblue;
$cinza:lightgrey;
$telaMedia:("max-width: 850px");
$desktop:("min-width: 800px");
$alturaJanela:167px;
$larguraJanela:250px;
$larguraJanelaMenor:103px;
$larguraJanelaMaior:397px;
$larguraWrap:850px;
$alturaWrap: ($alturaJanela*3)+($larguraWrap - ($larguraJanela*3));
$larguravideo:250px;
$alturavideo: $larguravideo * 0.69;


.janela{
	width: $larguraJanela;
	height: $alturaJanela;
	background-color: $cinza;
	transition: all 1s linear;
	box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
	margin: 30px 20px 0px;
	@media($desktop){
		margin: 0px;
	}

	&__linkMenuHome{
		width: 100%;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		text-decoration: none;
		color: #000;
		float: left;
		font-weight: bold;
	}

	&__invisivel{
		visibility: hidden;
	}

	&__imgBlurAcima{
			background-image: url("imagens/vertical-carousel1.jpg");
	}

	&__imgBlur{
			background-image: url("imagens/vertical-carousel2.jpg");
		
	}

	&__imgBlurAbaixo{
			background-image: url("imagens/vertical-carousel3.jpg");
		
	}

	&__imgComerciais{
			background-image: url("imagens/comvert.jpg");
	}

	&__imgClipes{
			background-image: url("imagens/clivert.jpg");
	}

	&__imgInternacionais{
			background-image: url("imagens/intvert.jpg");
	}

	&__imgLongas{
			background-image: url("imagens/lonvert.jpg");
	}

	&__videos{
		box-shadow: none;
		position: relative;
		background-color: transparent;

	}

	&__bgPos-217{
		background-position: 0px -217px;
	}

	&__bgPos-434{
		background-position: 0px -434px;
	}

	&__infovideos{
		box-shadow: none;
		position: relative;
		background-color: transparent;
	}

	&__botoes{
		box-shadow: none;
		position: relative;
		background-color: transparent;
	}

	&__apenasDesktop{
		display: none;
		@media($desktop){
			display: initial;
		}
	}

	&__contato{
			background-color: $cinza;
			opacity: 0.3;			
			box-shadow: none;
	}

	&__contatoInfo{
			background-color: transparent;
			box-shadow: none;
			text-align: right;
			color: #fff;
			a{
				text-decoration: none !important;
				color: #fff;
			}
	}

	&__menor{
		width: $larguraJanelaMenor;
	}

	&__maior{
		width: $larguraJanelaMaior;

	}

	&__cenarios:nth-child(1){
			background-image: url("imagens/gr1.jpg");
		}


	&__cenarios:nth-child(2){
			background-image: url("imagens/gr2.jpg");
		}

	&__cenarios:nth-child(3){
			background-image: url("imagens/gr3.jpg");
			position: relative;
		}

	&__cenarios:nth-child(4){
			background-image: url("imagens/gr4.jpg");
		}


	&__cenarios:nth-child(5){
			background-image: url("imagens/gr5.jpg");
		}

	&__cenarios:nth-child(6){
			background-image: url("imagens/gr6.jpg");
		}

	&__cenarios:nth-child(7){
			background-image: url("imagens/gr7.jpg");
		}


	&__cenarios:nth-child(8){
			background-image: url("imagens/gr8.jpg");
		}

	&__cenarios:nth-child(9){
			background-image: url("imagens/gr9.jpg");
		}

	&__televisao:nth-child(1){
		}


	&__televisao:nth-child(2){
			background-image: url("imagens/tel01.jpg");
		}

	&__televisao:nth-child(3){
		}

	&__televisao:nth-child(4){
			background-image: url("imagens/tel04.jpg");
		}


	&__televisao:nth-child(5){
			background-image: url("imagens/tel05.jpg");
		}

	&__televisao:nth-child(6){
			background-image: url("imagens/tel06.jpg");
		}

	&__televisao:nth-child(7){
		}


	&__televisao:nth-child(8){
			background-image: url("imagens/tel07.jpg");
		}

	&__televisao:nth-child(9){
		}




}