.modal{
	position: fixed;
	background-color: #ffffff;
	top: 158px;
	left: 0;
	right: 0;
	bottom: 0;
 	opacity:0;
	visibility:hidden;
	transform: scale(1.2);
	transition: all .3s ease-out;
	z-index: 1;


	&--visivel{
		opacity: 1;
		visibility: visible;
		transform: scale(1);

	}
}
