$azul:lightblue;
$cinza:lightgrey;
$telaMedia:("max-width: 850px");
$desktop:("min-width: 800px");
$alturaJanela:167px;
$larguraJanela:250px;
$larguraJanelaMenor:103px;
$larguraJanelaMaior:397px;
$larguraWrap:850px;
$alturaWrap: ($alturaJanela*3)+($larguraWrap - ($larguraJanela*3));
$larguravideo:250px;
$alturavideo: $larguravideo * 0.69;

.row{
	width: 100%;
	text-align: center;

	&__bgContato{
		background-image: url(imagens/bgcontato.jpg);
		background-repeat: no-repeat;
		background-size: 100% auto;

	}
}