@import 'https://fonts.googleapis.com/css?family=Roboto:300';
$azul:lightblue;
$cinza:lightgrey;
$telaMedia:("max-width: 850px");
$desktop:("min-width: 800px");


@mixin rec($largura, $altura){
	width: $largura;
	height: $altura;
}

	*{
		margin:0px;
		padding:0px;
	}

	body{
		font-family: 'Roboto', sans-serif;
	}



	#ctt{
		background-image: url(imagens/bgcontato.jpg);
		background-position: 0px 110px;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
/****************************PRINCIPAL INICIO*******************************/
	
		#principal{
			max-width:900px;
			margin: auto;
		}

		.rec{
			@include rec(250px,167px);
			background-position: 0px 0px;
			transition: all 1s linear;
			float:left;
			margin: 10px 25px;

		}

		.recindex{
			background-color: lightgrey;
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
			
		}

		.recctt{
			background-color: lightgrey;
			opacity: 0.3
			
		}


		#reindex1{
			background-image: url("imagens/vertical-carousel1.jpg");

		}
		#reindex4{
			background-image: url("imagens/vertical-carousel2.jpg");
			outline: solid #696969 6px;
			outline-offset: 3px;
		}

		#reindex5{
			background-color: #fff;
		}
		#reindex7{
			background-image: url("imagens/vertical-carousel3.jpg");
		}

		#recen1{
			background-image: url("imagens/gr1.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}


		#recen2{
			background-image: url("imagens/gr2.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}

		#recen3{
			background-image: url("imagens/gr3.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
			position: relative;
		}

		#recen4{
			background-image: url("imagens/gr4.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}


		#recen5{
			background-image: url("imagens/gr5.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}

		#recen6{
			background-image: url("imagens/gr6.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}

		#recen7{
			background-image: url("imagens/gr7.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}


		#recen8{
			background-image: url("imagens/gr8.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}

		#recen9{
			background-image: url("imagens/gr9.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}

		#recli2, #recli3, #recli7, #reint2, #reint3, #reint7, #recom2, #recom3, #recom7, #relon2, #relon3, #relon7, #retel1, #retel7{
			position: relative;
		}

		#recli4{
			background-image: url("imagens/clivert.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}


		#recom4{
			background-image: url("imagens/comvert.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}

		#reint4{
			background-image: url("imagens/intvert.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}

		#relon4{
			background-image: url("imagens/lonvert.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}
		

		#retel4{
			background-image: url("imagens/tel04.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}


		#retel5{
			background-image: url("imagens/tel05.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}

		#retel6{
			background-image: url("imagens/tel06.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}



		#rectt5{
			opacity: 1;
			text-align: right;
			background-color: transparent;
		}

		#rectt5 p{
			margin: 2px;
			color: #fff;
		}


		.rec3{
			width: 850px;
			height: 167px;
			transition: all 1s linear;
			float:left;
			position: absolute;
			background-repeat: no-repeat;
			background-position: center;
		}

		#te1{
			background-image: url("imagens/tel01.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}

		#te7{
			background-image: url("imagens/tel07.jpg");
			box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
		}
		
	.botao{
		margin-bottom: 50px;
		position: fixed;
		top: 100px;
		right:0px;
	}

	#bt2{
		top: 130px;
	}

	#bt3{
		top: 160px;
	}

	#bt2:checked ~ .rec{
			background-position: 0px -217px;
	}

	#bt3:checked ~ .rec{
			background-position: 0px -434px;
	}


	.btn{
		width: 33.3%;
		height: 33.3%;
		background-color: lightgreen;
		float: left;
	}

	.btn:hover{
		background-color: green;
	}

	#circulos{
		position: absolute;
		left: 225px;
		top: 40px
	}

	#circulos2{
		position: absolute;
		left: 270px;
		top: 40px
	}

	.circ{
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background-color: $cinza;
		margin-bottom: 10px;
	}

	.circ:hover{
		background-color: $azul;
		cursor: pointer;
	}
	
	.vds{
		text-align: center;
		margin-top: 35px;
	}

	.vds p{
		visibility: hidden;
	}

	#videos{
		position: absolute;
		overflow: hidden;
		width: 550px;
		height: 390px;
	}

	#caixa{
		position:relative;
		transition: all 1s linear;
		top: 0px;
	}

	#texto{
		width: 250px;
		height: 167px;
		overflow: hidden;
		position: relative;
	}

	#caixa2{
		position:relative;
		transition: all 1s linear;
		top: 0px;
	}

	.legenda{
		padding-bottom: 162px;
	}


