$azul:lightblue;
$cinza:lightgrey;
$telaMedia:("max-width: 850px");
$desktop:("min-width: 800px");
$alturaJanela:167px;
$larguraJanela:250px;
$larguraJanelaMenor:103px;
$larguraJanelaMaior:397px;
$larguraWrap:850px;
$alturaWrap: ($alturaJanela*3)+($larguraWrap - ($larguraJanela*3));
$larguravideo:250px;
$alturavideo: $larguravideo * 0.69;


.videos{
	&--item{
		text-align: center;
		margin-bottom: 35px;

			iframe{
				width: $larguravideo;
				height: $alturavideo;
				background-color: #000;
			}
	}

	@media($desktop){
			position: absolute;
			overflow: hidden;
			width: 550px;
			height: 390px;
			top:20px;
		&__wrapperVideos{
			position:relative;
			transition: all 1s linear;
			top: 0px;
		}
		&--item{
			text-align: center;
			margin-top: 35px;

			p{
				visibility: hidden;
			}

			iframe{
				$larguravideo:460px;
				$alturavideo: $larguravideo * 0.69;
				width: $larguravideo;
				height: $alturavideo;
				background-color: #000;
			}
		}
	}
}