$azul:lightblue;
$cinza:lightgrey;
$telaMedia:("max-width: 850px");
$desktop:("min-width: 800px");
$alturaJanela:167px;
$larguraJanela:250px;
$larguraJanelaMenor:103px;
$larguraJanelaMaior:397px;
$larguraWrap:850px;
$alturaWrap: ($alturaJanela*3)+($larguraWrap - ($larguraJanela*3));
$larguravideo:250px;
$alturavideo: $larguravideo * 0.69;

.wrap{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: $larguraWrap;
	height: $alturaWrap;
	margin: auto;
	@media($desktop){
		justify-content: space-between;
		align-items: center;
	}

	

	&__apenasMobile{
		@media($desktop){
			display: none;
		}
	}
}